.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 2rem;
  width: 20vw;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--beige);
  box-shadow: 0 4px 4px 0 var(--drop-shadow);
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 22% auto;
  align-items: flex-start;
}

.header h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  height: 100%;
  color: var(--orange);
}

.content {
  display: grid;
  min-height: 10rem;
  height: fit-content;
  grid-template-columns: 0.5rem auto;
  align-items: center;
}

.content canvas {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--orange);
}

.content p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  padding: 0 0 0 2.5rem;
  color: var(--gray);
}
