.searchArea {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/topAreaBg.svg);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 20vw;
  padding-top: 12.5vh;
}

.searchArea h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.searchArea p {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  margin-bottom: 2.5vh;
}

.searchArea label {
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
}

.searchArea label i {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: var(--orange);
  transform: translate(0, -50%);
}

.magnifierIcon {
  left: 5%;
}

.arrowIcon {
  left: 90%;
  cursor: pointer;
}

.searchArea input {
  border: none;
  border-radius: 50px;
  margin: auto;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 24px 13% 24px 12%;
}

.answersArea {
  width: 100vw;
  padding: 0 20vw;
}

.answersArea h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--orange);
  margin: 10vh 0 5vh;
}

.answersArea h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: var(--orange);
}

.answersArea section {
  margin-bottom: 5vh;
}

.questionFormArea {
  width: 100vw;
  padding: 0 25vw;
  margin-bottom: 20vh;
}

.questionFormArea h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--orange);
  margin-bottom: 5rem;
}

.questionFormArea form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.questionFormArea form input {
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid var(--gray);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  display: flex;
  padding: 20px;
  align-items: center;
  color: var(--gray);
  margin-bottom: 2rem;
}

.questionFormArea form textarea {
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid var(--gray);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  display: flex;
  padding: 20px;
  align-items: center;
  color: var(--gray);
  margin-bottom: 2rem;
  resize: none;
}

.questionFormArea form button {
  width: 50%;
  border-radius: 5rem;
  height: 5rem;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  cursor: pointer;
}
